@import url("/styles/Colors.css");

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
	margin: 0;
	text-align: center;
}

h4 {
	margin-bottom: 20px;
}

a {
	display: block;
	margin: 10px 0;
}
