<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" th:href="@{/styles/common/baseStyle.css}">
	<link rel="stylesheet" th:href="@{/styles/user/formPostStyle.css}">
	<title>Create post</title>
</head>
<body>
	<header>
		<h1>Create a Post</h1>
	</header>
	<button id="returnBtn">Return to main page</button>
	<div id="form_container">
		<form id="myForm" action="/restPost">
			<input type="hidden" id="httpMethod" value="POST"/>
			<input id="inputTitle" name="title" type="text" placeholder="Title" required maxlength="50"/>
			<textarea id="inputContent" name="content" placeholder="Text" required maxlength="2000"></textarea>
			
			<p id="charCount">0 characters</p>
			
			<div>
				<input id="submitBtn" type="submit">
				<input id="resetBtn" type="reset">
			</div>
		</form>
	</div>
		
</body>
<script th:src="@{/scripts/user/formPostScript.js}"></script>
<script th:src="@{/scripts/GlobalScript.js}"></script>
</html>